<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
</script>

<svelte:head>
    <title>Telenote / Home</title>
</svelte:head>

<Header/>
<main class="welcome">
    <div class="container row start-xs middle-xs">
        <div class="col-xs-12 col-lg-6">
            <h1 class="title">Use the power of both Telegram and Evernote</h1>
            <p class="welcome__description">
                Telenote is a Telegram Bot that allows you to save any message you want as a note in your's Evernote profile
            </p>
            <div class="section-buttons row center-xs start-lg">
                <a class="btn btn_action"
                    href="https://t.me/evernote_noting_bot">
                   Start using bot
                </a>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-1 first-xs last-lg row middle-xs center-xs">
            <img src="/images/telegram_evernote_logos.jpg" alt="Telegram & Evernote Logotypes" class="responsive-img"/> 
        </div>
    </div>
</main>
<Footer/>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        .section-welcome__description {
            margin-left: 10px;
        }

        .section-welcome__buttons {
            margin-left: 10px;
        }
    }
</style>
