<script>
    import { onMount } from 'svelte';

    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import PageTitle from '../components/PageTitle.svelte';
    import Toast, { showToast } from '../components/Toast.svelte';

    import { botURL, apiURL } from '../settings.js';

    let copyInputState = 'loading ...';

    // Get the URL queryparams that were provided by Evernote OAuth
    // More on: https://dev.evernote.com/doc/articles/authentication.php#callback
    const searchParams = new URLSearchParams(window.location.search);
    const token = searchParams.get('oauth_token') || '';
    const verifier = searchParams.get('oauth_verifier');

    /*
     * Sends request to aon API to retrieve the current user access
     * token, which is the part of Evernote OAuth proccess.
     * @return {string}
     */
    async function getAccessToken() {
        const response = await fetch(`${apiURL}/tokens/access/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'token': token,
                'verifier': verifier,
            })
        });

        if (response.ok) {
            const responseData = await response.json();
            return responseData['access_token'];
        }
    }

    /*
     * Copy button onclick handler. Gets the value from input (e.g /token
     * <token value>) and copies it to user's clipboard.
     */
    async function copyInputStateToClipboard() {
        const input = document.getElementById('copyInput');
        input.select();

        // Mobile support
        input.setSelectionRange(0, 99999);

        // Perform clipboard copy
        document.execCommand('copy');

        // Deselect the text in input
        input.selectionStart = input.selectionEnd;

        // show the success message
        showToast('success');
    }

    // Called when component is mounted
    onMount(async () => {
        const accessToken = await getAccessToken();

        if (accessToken) {
            copyInputState = `/token set ${accessToken}`;
        } else {
            copyInputState = 'Unenable to fetch token';
        }
    });
</script>

<svelte:head>
    <title>Telenote / Authorization completed</title>
</svelte:head>

<Header/>
<main class="center-wrapper">
    <div class="container row middle-xs">
        <div class="col-xs-12 col-lg-6">
            <h1 class="title">Authorization completed</h1>
            <p class="description">Copy the given command below and send it to our <a class="link" href="{botURL}">bot</a>. After doing this you will be able to use all the Telenote's features, e.g. forwarding a bot messages to save as a note.</p>

            <!-- Copy input -->
            <div class="input-wrapper">
                <input class="copy-input" id="copyInput" type="text" bind:value={copyInputState} readonly>
                <button class="copy-button" on:click={copyInputStateToClipboard}>
                    Copy
                </button>
            </div>

        </div>
        <div class="col-xs-12 col-lg-6 first-xs last-lg row center-xs logo-img">
            <img src="/images/logo.svg" width="175" height="175" alt="Logo">
        </div>
    </div>
</main>
<Toast id="success">Copied to clipboard</Toast>
<Footer/>

<style>
    .title {
        font-size: 2.7rem;
    }

    .input-wrapper {
        position: relative;
        margin-top: 20px;
    }

    .copy-input {
        width: 100%;
        font-family: 'Courier New', 'Open Sans', sans-serif;
        border: 1px solid #2088ba;
        padding: 10px 75px 10px 10px;
        line-height: 20px;
        transition: border .2s linear;
    }

    .copy-input:focus {
        outline: none;
        border-color: #40a9db;
    }

    .copy-button {
        position: absolute;
        top: 0;
        right: 3px;
        background: #2088ba;
        border: 1px solid #2088ba;
        padding: 7px 15px;
        margin: 3px 0;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 700;
        font-family: 'Karla';
        line-height: 20px;
        text-transform: lowercase;
        transition: filter .2 linear;
    }

    .copy-button:focus {
        outline: none;
    }

    .copy-button:hover {
        filter: brightness(110%);
    }

    @media screen and (min-width: 1200px) {
        .input-wrapper {
            width: 90%;
        }
    }

    @media screen and (max-width: 992px) {
        .logo-img {
            margin-bottom: 20px;
        }
    }
</style>
