<section>
    <div class="container row between-xs middle-xs">
        <div class="col-xs-12 col-sm-6 center-xs start-lg footer-item">
            <a href="https://github.com/vitaliy-diachkov/telenote" class="icon-link">
                <!-- Github icon -->
                <svg class="icon" width="30" height="30" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#1B1F23"/>
                </svg>

                <span class="icon-text">Github</span>
            </a>
            <a href="mailto:diachkovspecial@gmail.com" class="icon-link">

                <!-- Gmail icon -->
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 216 216" width="30" height="30" style="enable-background:new 0 0 216 216;" xml:space="preserve">
<path d="M108,0C48.353,0,0,48.353,0,108s48.353,108,108,108s108-48.353,108-108S167.647,0,108,0z M156.657,60L107.96,98.498
    L57.679,60H156.657z M161.667,156h-109V76.259l50.244,38.11c1.347,1.03,3.34,1.545,4.947,1.545c1.645,0,3.073-0.54,4.435-1.616
    l49.374-39.276V156z" fill="#1B1F23"/>
                </svg>

                <span class="icon-text">Gmail</span>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 center-xs end-lg footer-item">
            Vitaliy Diachkov &copy; 2020
        </div>
    </div>
</section>

<style>
    .footer-item {
        margin: 5px 0;
    }
    .icon {
        margin-left: 15px;
    }

    .icon-text {
        margin: 0 10px;
        line-height: 30px;
    }

    .icon-link {
        display: inline-flex;
        transition: filter .2s linear;
    } 

    .icon-link:hover {
        filter: brightness(200%);
    }

    @media screen and (max-width: 992px) {
        .icon-links {
            margin: 0 10px;
        }
    }
</style>
