<div class="container-fluid page-title row center-xs">
    <h1 class="title"><slot></slot></h1>
</div>

<style>
    .page-title {
        padding: 80px 0;
        background: rgb(52,164,217);
        background: linear-gradient(90deg, rgba(52,164,217,1) 0%, rgba(62,176,4,1) 100%);
        color: rgb(248, 248, 248);
    }
</style>
